{%- if localization.available_countries.size > 1 or localization.available_languages.size > 1 -%}
  <template id="ngr-markets-template">
    <div class="">
      {%- form 'localization', id: 'NGRMarketsCountryForm', class: 'ngr-localization-form' -%}
        <input type="hidden" name="return_to" value="?ngr=true"/>
        <div class="ngr-markets-forms">
          {%- if localization.available_countries.size > 1 -%}
            <div class="select">
              <select
                class="localization-selector link"
                name="country_code"
                aria-label="Countries & currency"
              >
                {%- for country in localization.available_countries -%}
                  <option
                    value="{{ country.iso_code }}"
                    {%- if country.iso_code == localization.country.iso_code %}
                      selected
                    {% endif %}
                  >
                    {{ country.name }} ({{ country.currency.iso_code }}
                    {{ country.currency.symbol }})
                  </option>
                {%- endfor -%}
              </select>
            </div>
          {%- endif -%}
          {%- if localization.available_languages.size > 1 -%}
            <div class="select">
              <select
                class="localization-selector link"
                name="locale_code"
                aria-label="Locale"
              >
                {%- for language in localization.available_languages -%}
                  <option
                    value="{{ language.iso_code }}"
                    lang="{{ language.iso_code }}"
                    {%- if language.iso_code == localization.language.iso_code %}
                      selected
                    {% endif %}
                  >
                    {{ language.endonym_name | capitalize }}
                  </option>
                {%- endfor -%}
              </select>
            </div>
          {%- endif -%}
        </div>
        <button class="ngr-markets-submit" type="submit"></button>
      {%- endform -%}
    </div>
  </template>
{%- endif -%}
